html {
   overflow:hidden
   }
body{
    padding-bottom: 30px;
}

.maincontainer{
    height: 94vh;
    position: relative;
    bottom: 20px;
}
.row{
    height: 100vh;
}
.col-half-offset{
    margin-left:3.0%
}
.card-body{
    padding-top: 1px;
    padding-bottom: 20px;
    padding-left: 10px;
}
.weeksweather{
    padding-left: 10px;
    height: 35vh;
}
.header{
    background-color: darkslategray;
    color: white;
    text-align: center;
    height: 10vh;
}
.searcharea{
    margin-top: 0px;
    padding-left: 20px;
    background-color: lightgray;
}
.col-4{
    padding-top: 0px;
}
.citynowweatherdata{
    height: 45vh;
    margin-top: 5px;
    border-style: solid;
    border-width: thin;
    border-color: black;
}
input{
    float: left;
    width: 50%;
    font-size: 15px;
    height: 25px;
}
.btn-primary{
    float: left;
    width: 10%;
    font-size: 15px;
    height: 25px;
    color: white;
}
.WF{
    padding: 5px;
    background-color: dodgerblue;
    border-radius: 5px;
    border-style: solid;
    border-color: blue;
    color: white;
    height: 170px;
    width: 120px;
}
h3{
    font-weight: bold;
}
